.faqSection {
    background: rgba(255, 196, 67, 1);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 18rem;

    &__inner {
        padding: 6.4rem 0 21.8rem 0;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        width: 108.6rem;
        margin: 0 auto;
        border: 0.23rem solid #FFFFFF;
    }

    &__tabsContentLeft {
        margin-top: 6.4rem;
        padding-bottom: 7.8rem;
        position: relative;
        width: 100%;


        &::before {
            content: "";
            width: 40%;
            height: 13.8rem;
            border-left: 0.23rem solid #FFFFFF;
            border-bottom: 0.23rem solid #FFFFFF;
            border-right: 0.23rem solid #FFFFFF;

            position: absolute;
            bottom: 0;
            left: -0.23rem;
            transform: translateY(100%);
        }

        &::after {
            content: "";
            width: 60.5%;
            height: 13.8rem;
            border-right: 0.23rem solid #FFFFFF;
            border-bottom: 0.23rem solid #FFFFFF;
            border-top: 0.23rem solid #FFFFFF;

            background: repeating-linear-gradient(-45deg,
            #FFC443,
            #FFC443 15px,
            #ffffff 15.8px,
            #FFC443 16.8px);

            position: absolute;
            bottom: 0;
            right: -0.2rem;
            transform: translateY(100%);
        }
    }

    &__tabsContent {
        width: 45.1rem;
        margin-left: 16.8rem;
        position: relative;
        z-index: 1;
    }

    &__logo {
        width: 14.4rem;
        height: 6.5rem;
        background:#FFC443;
        padding: 1.4rem 0 1.4rem 0;
        margin-bottom: 6.6rem;

        display: flex;
        align-items: center;

        position: relative;
        transform: translateX(-0.4rem);

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__tabBtns {
        padding-top: 2.2rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        width: 22.7rem;
        align-items: flex-end;
        border-left: 0.24rem solid #FFFFFF;
    }
}

.button {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: relative;
    cursor: pointer;


    &:not(:last-child) {
        margin-bottom: 1.9rem;
    }

    &.active {
        &::before {
            content: "";
            width: 1rem;
            height: 1.6rem;
            background: #FFC443;

            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translateY(-50%);
        }

        &::after {
            content: "−";
            color:rgba(255, 255, 255, 1);

            position: absolute;
            top: 0;
            right: -1.8rem;
            z-index: 1;
        }
    }
}