.nextArrow {
    width: 4rem;
    height: 1rem;
    position: relative;
    
    &::before {
        content: "";
        
        background: url(./../../asetss/img/arrowNext.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
}

.prevArrow {
    width: 4rem;
    height: 1rem;
    position: relative;
    
    &::before {
        content: "";
        background: url(./../../asetss/img/arrowPrev.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
}