@import "set.scss";
@import "fonts.css";
@import "./../components/faqSection/FaqSection.module.scss";
@import "./../components/faqSection/faqContent/FaqContent.module.scss";
@import "./../components/reviews/Reviews.module.scss";
@import "./../components/accordionSection/accordion/Accordion.module.scss";
@import './../components/Modal/Modal.module.scss';
@import './../components/Header.module.scss';
@import './../components/request/RequestSteps.module.scss';
@import './../components/request/requestComponents/time/Time.module.scss';
@import './../components/request/requestComponents/userAbout/UserAbout.module.scss';

body h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 10rem;
}

* {
  line-height: 1.2;
}

.custom-slider {
  margin: 6rem 0;
  width: 100%;

  .item {
    background-color: gray;
    color: white;
    font-size: 5rem;
    line-height: 10rem;
    text-align: center;
  }
}

.img-bg {
  height: 20rem;
  background: url("img/img.jpg") no-repeat;
}

.ant-typography-single-line {
  white-space: normal !important;
}



.link {
  color: rgba(29, 29, 29, 1);
  transition: 0.3s;

  &:hover {
    color: rgba(29, 29, 29, 1);
  }

  &.active {
    transition: 0.3s;
    text-shadow: 1px 0px 1px rgb(29 29 29);
  }
}

.ant-select {
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1d1d1d;
  border-radius: 0;

  height: 6rem;
  width: 27rem;
  outline: none;
  --antd-wave-shadow-color: rgb(255, 196, 20%) !important;

  &:focus {
    border: 0.1rem solid #FFC443 !important;
  }

}

.ant-select-item {
  --antd-wave-shadow-color: rgb(255, 196, 20%) !important;
}

.ant-select-item-option-content {
  --antd-wave-shadow-color: rgb(255, 196, 20%);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(#FFC443, 0.1) !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: rgb(255, 196, 20%) !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 2px rgb(255, 196, 20%) !important;
}



.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 100% !important;
  padding: 0 2rem !important;
  --antd-wave-shadow-color: #FFC443 !important;
}

.ant-select-arrow .anticon>svg {
  display: none;
}

.ant-select-arrow {
  background: url(../asetss/img/arrowSelect.svg) no-repeat;
  width: 2rem;
  height: 1.7rem !important;
  background-size: contain;
  background-position: center;
  right: 2rem !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1D1D1D;

}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #FFC443 !important;
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffffff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffffff;
  border-color: #FFC443;
}

.ant-checkbox-inner {
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-color: #fff !important;
  border: 1px solid #FFC443 !important;
  border-radius: 0px !important;
}

.ant-checkbox-checked:after {
  border: 1px solid #faae0a !important;
  border-radius: 0px !important;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  border: 2px solid #1d1d1d !important;
  border-top: 0 !important;
  border-left: 0 !important;
  width: 0.6rem;
  height: 1.2rem;
  left: 0.7rem;
  top: 1rem;
}

.ant-checkbox-wrapper:after {
  content: none !important;
}

.ant-upload.ant-upload-drag {
  background: transparent !important;
  border: 1px dashed #C4C4C4 !important;
}

.ant-upload.ant-upload-drag p.ant-upload-hint {
  font-size: 1.6rem !important;
  font-weight: 400;
  color: #ACACAC !important;
  font-family: 'Gilroy';
  width: 51%;
  margin: 0 auto 1.5rem auto;
}

.ant-upload.ant-upload-drag p.ant-upload-text {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #ACACAC !important;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-right: 1.5rem;
  }
}


.ant-statistic-content-value {
  font-size: 10rem !important;
  font-weight: 700;
  font-family: 'Gilroy' !important;

  // format ss {
  //   color: #faae0a;
  // }
}


.ant-modal {
  width: 102rem !important;
  font-family: 'Gilroy';

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-body {
    padding: 5rem;
  }
}

.ant-modal.modalAnket {
  width: 75rem !important;
}

.modalAnket {
  .buttons {
    display: flex;
    align-items: center;

    button:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
}

.title-anket {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.ant-collapse.anket {
  border: none;
  background: #ffffff;
  margin-bottom: 4rem;

  .item-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .ant-collapse>.ant-collapse-item {
    border-bottom: none;
  }

  .ant-collapse-item {
    background: #FFFFFF;
    padding: 0rem 2rem 0rem 3rem;
    position: relative;
    margin-bottom: 0;
    border-bottom: none;
  }

  .ant-collapse-item::before {
    content: "";
    width: 1.7rem;
    height: 1.3rem;
    background: url(./../asetss/../../public/img/check.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0rem;
  }

  .ant-collapse-item-active::before {
    top: 1.2rem;
    background: #1D1D1D;
    width: 1.5rem;
    height: 0.2rem;

  }

  .ant-collapse-item::after {
    content: none;
  }

  .ant-collapse-content {
    border-top: none;
  }
}

.ant-collapse.anket>.ant-collapse-item>.ant-collapse-header {
  color: #ACACAC ;

}

.ant-collapse.anket>.ant-collapse-item-active>.ant-collapse-header {
  color: #1D1D1D;
}

.hidden-col {
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  transform-origin: left;
  &.show {
    transform: scale(1);
    opacity: 1;
    transition: 0.3s;
  }
}

.nextstep-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  > span {
    margin-left: 4rem;
    color: #acacac;
  }
}

.fade {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1);
  &.hide {
    opacity: 0;
    transition: 0.3s;
    transform: scale(0);
  }
}

body .ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.4rem;
  span {
    display: block;
  }
  .ant-checkbox+span {
    padding-left: 1.5rem;
  }
  .ant-checkbox {
    top: 0;
  }
}

.room-list {
  display: flex;
  margin-bottom: 2.5rem;
  &__col {
    width: 15rem;
  }
}

.phone-row {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  .phone {
    color: #FFC443;
    margin-left: 1rem;
  }
  .phone-btn {
    margin-left: 1rem;
  }
  .phone-input-wrap {
    display: flex;
    align-items: center;
  }
}

.phone-edit-wrap {
  display: flex;
  align-items: center;
}

.icon-edit {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-check-circle {
  width: 2.3rem;
  height: 2.3rem;
}

.icon-payment {
  width: 1.5rem;
  height: 1.5rem;
}

.phone-btn {
  font-size: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: scale(0);
  transition: 0.3s;
  transform-origin: left;
  opacity: 0;
  &.show {
    transition: 0.3s;
    transform: scale(1);
    opacity: 1;
  }
  .text {
    color: #FFC443;
    font-size: 1.5rem;
    line-height: 1;
    margin-left: 0.5rem;
  }
}

.phone-link {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
  opacity: 1;
  transform-origin: left;
  width: 15rem;
}

.payment-link {
  display: flex;
  align-items: center;
	font-size: 1.6rem;
  &.qs {
    margin-bottom: 1.5rem;
    span {
      margin-right: 1rem;
		font-weight: 600;
		text-decoration: underline;
    }
	  div {
		  cursor: pointer;
		  display: flex;
		  align-items: center;
	  }

  }
  span {
    margin-left: 1.1rem;
  }
}

.loading-wrap {
  height: 50rem;
  font-size: 10rem;
  text-align: center;
}

.container button .ant-btn-loading-icon {
  position: absolute !important;
  left: 1.5rem !important;
}

body .ant-btn-primary:focus, body .ant-btn-primary:hover {
  background: linear-gradient(87.22deg, #FFB40F -28.91%, #FFCE62 105.28%);
  color: #1D1D1D;
}

.val-errors {
  color: #ff4d4f;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  min-height: 1px;
}

.content-error {
  color: #ff4d4f;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  padding: 20rem 0;
}

html .ant-input::placeholder {
  color: #ACACAC;
  font-size: 1.6rem;
  font-weight: 500;
}

html .ant-input {
  color: #1D1D1D;
  font-size: 1.6rem;
  font-weight: 500;
}

html .ant-form-item-explain-error {
	font-size: 1.4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  -webkit-box-shadow: 0 0 0px 100px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.container .ant-form-item {
  margin-bottom: 2.4rem !important;
}

.container .ant-form-item-explain {
  position: absolute !important;
  top: 6.2rem;
}

.conf-text {
	font-size: 1.6rem;
	font-weight: 400;
	color: #1D1D1D;
	margin-bottom: 2rem;
	span {
		text-decoration: underline;
		font-weight: 500;
	}
}

.conf-input {
	margin-bottom: 2rem;
}

.modal-text {
	font-size: 1.6rem;
	line-height: 150%;
	margin-bottom: 3rem;
}

.m-input {
	height: 6rem;
	border: 0.1rem solid #ACACAC;
	padding: 0 2.5rem !important;
	width: 50rem;
	&::placeholder {
		font-size: 1.6rem !important;
		font-weight: 500 !important;
		color: #1D1D1D;
	}

	&:not(:last-child) {
		margin-bottom: 2.2rem;
	}
}

.modal-edit {
	width: 68rem !important;
	&__form {
		width: 49.5rem;
	}
}

.chat-room {
	background-color: white;
	height: 66rem;
	&__container {
		margin: 0 6rem;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		height: 66rem;
		display: flex;
		flex-direction: column;
	}
	&__title {
		padding-bottom: 3rem;
		border-bottom: 1px solid #EBEBEB;
	}
	&__input-wrapper {
		background: #F9F8FD;
		min-height: 8rem;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 1.5rem;
	}
	&__input-file {
		flex-shrink: 0;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		margin-right: 3rem;
		box-shadow: 5px 5px 20px rgba(5, 15, 25, 0.1);
		background-color: white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__input {
		flex-grow: 1;
		.ant-mentions {
			border: 0 !important;
			outline: none !important;
			box-shadow: none !important;
			background: transparent !important;
		}
		.ant-mentions>textarea {
			padding: 0 0 1.6rem !important;
			font-size: 1.8rem;
			line-height: 2.15rem;
			font-family: "Euclid Circular A";
			background: transparent !important;
			overflow: hidden !important;
		}
	}
	&__send {
		flex-shrink: 0;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		margin-left: 3rem;
		box-shadow: 5px 5px 20px rgba(5, 15, 25, 0.1);
		background: rgba(21, 22, 47, 0.3);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


.mess-box {
	flex-grow: 1;
	&__wrapper {
		padding: 0 1.5rem;
	}
}

.message {
	&-date {
		text-align: center;
		padding: 2rem 0;
		font-size: 1.8rem;
		line-height: 2.2rem;
		color: rgba(21, 22, 47, 0.3);
		text-align: center;
	}
}



.user-message {
	padding: 0 1.5rem 2rem;
	&__text {
		font-size: 1.8rem;
		line-height: 2.15rem;
		color: #15162F;
		border-radius: 1.5rem;
		padding: 1.5rem 2rem;
		white-space: pre-line;
		&-wrapper {
			display: flex;
		}
	}
	&__icon {
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		width: 4.5rem;
		height: 4.5rem;
		margin-right: 1.5rem;
		flex-shrink: 0;
	}
	&__row {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
	&__status {
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding-top: 0.7rem;
	}
	&__user-name {
		font-weight: 600;
	}
	&__date {
		color: rgba(21, 22, 47, 0.5);
		margin: 0 1.5rem;
	}
	&--self {
		.user-message__text {
			background: rgba(21, 22, 47, 0.1);
			border-bottom-right-radius: 0;
			margin-left: 3rem;
			&-wrapper {
				justify-content: flex-end;
			}
		}
		.user-message__status {
			text-align: right;
		}
	}
	&--companion {
		.user-message__text {
			background: #F9F8FD;
			border-bottom-left-radius: 0;
			margin-right: 3rem;
		}
	}
}

.user-message.enter {
	transform: translateX(-75rem);
}
.user-message.enter-active {
	transform: translateX(0);
	transition: all 300ms ease-in;
}
.user-message.exit {
	opacity: 1;
}
.user-message.exit-active {
	opacity: 0;
	transition: all 300ms ease-in;
}
