@import "set.scss";
@import "fonts.css";
@import "./../components/faqSection/FaqSection.module.scss";
@import "./../components/faqSection/faqContent/FaqContent.module.scss";
@import "./../components/reviews/Reviews.module.scss";
@import "./../components/accordionSection/accordion/Accordion.module.scss";
@import './../components/Modal/Modal.module.scss';
@import './../components/Header.module.scss';
@import './../components/request/RequestSteps.module.scss';

body h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 10rem;
}

* {
  line-height: 1.2;
}

.custom-slider {
  margin: 6rem 0;
  width: 100%;

  .item {
    background-color: gray;
    color: white;
    font-size: 5rem;
    line-height: 10rem;
    text-align: center;
  }
}

.img-bg {
  height: 20rem;
  background: url("img/img.jpg") no-repeat;
}

.ant-typography-single-line {
  white-space: normal !important;
}



.link {
  color: rgba(29, 29, 29, 1);
  transition: ease 0.5s;

  &:hover {
    color: rgba(29, 29, 29, 1);
  }

  &.active {
    text-shadow: 0.5px 0.5px 0px rgb(29 29 29);
  }
}

.ant-select {
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1d1d1d;
  border-radius: 0;

  height: 6rem;
  width: 27rem;
  outline: none;
  --antd-wave-shadow-color: rgb(255, 196, 20%) !important;

  &:focus {
    border: 0.1rem solid #FFC443 !important;
  }

}

.ant-select-item {
  --antd-wave-shadow-color: rgb(255, 196, 20%) !important;
}

.ant-select-item-option-content {
  --antd-wave-shadow-color: rgb(255, 196, 20%);
}

.ant-select-open {
  border: 0.1rem solid #FFC443 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(#FFC443, 0.1) !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: rgb(255, 196, 20%) !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 2px rgb(255, 196, 20%) !important;
}



.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 100% !important;
  padding: 0 2rem !important;
  --antd-wave-shadow-color: #FFC443 !important;
}

.ant-select-arrow .anticon>svg {
  display: none;
}

.ant-select-arrow {
  background: url(../asetss/img/arrowSelect.svg) no-repeat;
  width: 2rem;
  height: 1.7rem !important;
  background-size: contain;
  background-position: center;
  right: 2rem !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1D1D1D;

}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #FFC443 !important;
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffffff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffffff;
  border-color: #FFC443;
}

.ant-checkbox-inner {
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-color: #fff !important;
  border: 1px solid #FFC443 !important;
  border-radius: 0px !important;
}

.ant-checkbox-checked:after {
  border: 1px solid #faae0a !important;
  border-radius: 0px !important;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  border: 2px solid #1d1d1d !important;
  border-top: 0 !important;
  border-left: 0 !important;
  width: 0.6rem;
  height: 1.2rem;
  left: 30%;
  top: 40%;
}

.ant-checkbox-wrapper:after {
  content: none !important;
}

.ant-upload.ant-upload-drag {
  background: transparent !important;
  border: 1px dashed #C4C4C4 !important;
}

.ant-upload.ant-upload-drag p.ant-upload-hint {
  font-size: 1.6rem !important;
  font-weight: 400;
  color: #ACACAC !important;
  font-family: 'Gilroy';
  width: 51%;
  margin: 0 auto 1.5rem auto;
}

.ant-upload.ant-upload-drag p.ant-upload-text {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #ACACAC !important;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-right: 1.5rem;
  }
}