@import "set.scss";
@import "fonts.css"; 
@import "./../components/faqSection/FaqSection.module.scss";
@import "./../components/faqSection/faqContent/FaqContent.module.scss";
@import "./../components/reviews/Reviews.module.scss";
@import "./../components/accordionSection/accordion/Accordion.module.scss";
@import './../components/Modal/Modal.module.scss';
@import './../components/Header.module.scss';

body h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 10rem;
}



.custom-slider {
  margin: 6rem 0;
  width: 100%;
  .item {
    background-color: gray;
    color: white;
    font-size: 5rem;
    line-height: 10rem;
    text-align: center;
  }
}

.img-bg {
  height: 20rem;
  background: url("img/img.jpg") no-repeat;
}

.ant-typography-single-line {
  white-space: normal !important; 
}



.link {
  color: rgba(29, 29, 29, 1);
  transition: ease 0.5s;

  &:hover {
      color: rgba(29, 29, 29, 1);
  }

  &.active {
      text-shadow: 0.5px 0.5px 0px rgb(29 29 29);
  }
}