.stepItem {
    width: 20%;

    &__img {
        width: 7rem;
        height: 7rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0.1rem dashed #C4C4C4;
        background: #ffffff;
        border-radius: 0px 0px 1.5rem 0;
        margin-bottom: 2rem;

        position: relative;
        z-index: 1;

        img {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: #1D1D1D;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: #1D1D1D;
    }
}

@media (max-width: 48em) {
	.stepItem {
		width: auto;
		display: flex;
		align-items: center;
		margin-bottom: 4rem;
		position: relative;
		&::before {
			content: "";
			width: 80%;
			height: 0.1rem;
			border-top: 0.1rem dashed  #C4C4C4;

			position: absolute;
			top: 3.5rem;
			left: 0;
		}
		&__img {
			margin-bottom: 0;
			flex-shrink: 0;
			margin-right: 3rem;
			width: 10rem;
			height: 10rem;
			img {
				width: 4rem;
				height: 4rem;
			}
		}
		&__title {
			font-size: 2.6rem;
		}
		&__subtitle {
			font-size: 2.2rem;
		}
	}
}
