.login {
    margin-bottom: 17rem;


    .inner {
        display: flex;
        justify-content: space-between;
    }

    .loginBlock {
        width: 49.4rem;
    }

    .infoBlock {
        width: 82.2rem;
    }

    .socialIcon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: #4680C2;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 1.9rem;
            height: 1.7rem;
            object-fit: contain;
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    .loginSocial {
        display: flex;
        align-items: center;
    }

    .socialName {
        font-size: 1.6rem;
        font-weight: 500;
        color: #1D1D1D;
        margin-right: 1rem;
    }

    .infoItem {
        padding: 3rem;
        border: 1px dashed #C4C4C4;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    .titleItem {
        font-size: 1.8rem;
        font-weight: 600;
        color: #1D1D1D;
        margin-bottom: 2rem;
    }

    .subtitleItem {
        font-size: 1.6rem;
        font-weight: 400;
        color: #1D1D1D;
    }
}


.btnDark {
    background: #313131;
    border-radius: 2rem 0px;
    padding: 0rem 7rem 0rem 7rem;
    height: 5.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover {
        background: #4e4e4e;
    }
}


.btnColor {
    background: linear-gradient(87.22deg, #FFB40F -28.91%, #FFCE62 105.28%);
    border-radius: 2rem 0;
    height: 5.8rem;
    padding: 0 5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: easy .5s;
    &:hover {
        background: #FFCE62;
        color: #1D1D1D;
    }
}

.BtnColorTime {

    transition: easy .5s;
    opacity: 0;
    visibility: hidden;

    &.active {
        background: linear-gradient(87.22deg, #FFB40F -28.91%, #FFCE62 105.28%);
        border-radius: 2rem 0;
        height: 5.8rem;
        padding: 0 5rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: #1D1D1D;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        opacity: 1;
        visibility: visible;


    }

    &:hover {
        background: #FFCE62;
        color: #1D1D1D;
    }
}

.BtnColor.ant-btn[disabled], .BtnColor.ant-btn[disabled]:active, .BtnColor.ant-btn[disabled]:focus, .BtnColor.ant-btn[disabled]:hover {
    color: rgba(0,0,0,.25);
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
    cursor: default;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
    color: #1D1D1D;
    border-color: transparent;
    background: #FFCE62;
}

.step1 {
    margin-bottom: 17rem;
}

.quizeBlock {
    width: 58rem;
}

.aboutQuize {
    padding-left: 2.5rem;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    color: #1D1D1D;
    margin-bottom: 1.9rem;
}
.title2 {
    font-size: 3rem;
    font-weight: 700;
    color: #1D1D1D;
    margin-bottom: 1.9rem;
}

.aboutquizeTitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1d1d1d;
    position: relative;

    &::before {
        content: "";
        width: 1rem;
        height: 0.1rem;
        background-color: #1D1D1D;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2rem;
    }
}

.aboutquizeSubtitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #1d1d1d;
    margin-bottom: 2.5rem;
}

.itemsQuize {
    margin-bottom: 4rem;
}

.selectTitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1d1d1d;
    margin-bottom: 0.5rem;
}

.selectSubtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #1d1d1d;
    margin-bottom: 0.5rem;
}

.item {
    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

.selectesWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}


.input {
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #1d1d1d;
    border-radius: 0;

    height: 6rem;
    width: 27rem;
    border: 0.1rem solid #FFC443;
}

.next {
    margin-bottom: 4rem;
}

.nextItem {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ACACAC;
    padding-left: 1.8rem;
    position: relative;
    margin-left: 1.5rem;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: #acacac;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -1rem;
    }
}


.step2 {
    margin-bottom: 17rem;
    font-family: 'Gilroy';
}

.inner {
    display: flex;
    justify-content: space-between;
}

.infoBlock {
    width: 79.2rem;
}

.done {
    display: flex;
    align-items: center;

    margin-bottom: 1.5rem;

    img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        margin-right: 1rem;
    }

    span {
        font-size: 1.8rem;
        font-weight: 600;
        color: #acacac;
    }
}

.checkboxes {
    margin-bottom: 2.5rem;
}

.checkboxWrap {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.checkboxItem {
    width: 16rem;
    margin-right: 2.5rem;
}


.description {
    visibility: hidden;
    opacity: 0;
    transition: ease 0.8s;

    button {
        display: flex;
        align-items: center;
        font-family: 'Gilroy';
        font-size: 1.5rem;
        font-weight: 400;
        color: #1D1D1D;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            margin-right: 1.5rem;
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}


.userText {
    .title {
        font-size: 1.5rem;
        font-weight: 400;
        color: #1D1D1D;
    }

    textarea {
        width: 100%;
        height: 17.1rem;
        border: 0.1rem solid #ACACAC;
        padding: 2rem;

        font-size: 1.6rem;
        font-weight: 500;
        color: #1d1d1d;
        margin-bottom: 2.5rem;
        resize: none;

        &::placeholder {
            font-size: 1.6rem;
            font-weight: 500;
            color: #C4C4C4;
        }
    }
}

.stepPlan {
    font-family: 'Gilroy';
    margin-bottom: 17rem;
}

.upLoadWrap {
    margin-bottom: 2.5rem;
}

.rate {
    margin-bottom: 17rem;
    font-family: 'Gilroy';
}

.myAnket {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1.5rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
    }

    span {
        font-size: 1.6rem;
        font-weight: 600;
        color: #1d1d1d;
        border-bottom: 0.1rem solid #1d1d1d;
        margin: 0 1rem;
        position: relative;
        transition: ease 0.4s;

        &:hover {
            color: #FFB40F;
            border-color: #FFB40F;
        }
    }
}


.selectRate {
    background: #F7F7F7;
    border: 1px solid #E1E1E1;
    padding: 3rem;
    margin-bottom: 4rem;
}

.rateWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 600;

    .price {
        font-size: 2.5rem;
    }
}

.aboutRate {
    font-size: 1.6rem;
    font-weight: 400;
    color: #1D1D1D;
    margin-bottom: 2.2rem;
    line-height: 1.5;
}

.videoTitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1D1D1D;
    margin-bottom: 2rem;
}

.video {
    width: 100%;
    height: 20rem;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
        }

        :hover {
            filter: brightness(80%);
        }
    }
}

.bottomBlock {
    display: flex;
    align-items: center;
}

.logoBank {
    height: 2rem;
    width: 15rem;
    margin-left: 3rem;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.waiting {
    margin-bottom: 17rem;

    .inner {
        display: flex;
    }
}

.chatBlock {
    margin-bottom: 17rem;
}

.chat {
    width: 57.8rem;
	height: 66rem;
    img {
        width: 100%;
    }
}

.results {
    margin-bottom: 17rem;
}

.infoMoney {
    display: flex;
    align-items: center;
    width: max-content;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        margin-right: 1rem;
    }

    span {
        font-size: 1.6rem;
        font-weight: 400;
        color: #1d1d1d;
    }
}


.results {
    font-family: 'Gilroy';

    .subtitle {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }

    .download {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 3.5rem;
		color: #FFC443;
        span {
            border-bottom: 0.1rem solid #1D1D1D;
        }

        img {
            width: 2.2rem;
            height: 2.8rem;
            object-fit: contain;
            margin-right: 1.5rem;
        }

        &:hover {
            color: rgba(255, 196, 67, 1);
            span {
                border-bottom: 0.1rem solid rgba(255, 196, 67, 1);
            }
        }
    }

    .raiting {
        margin-bottom: 3.5rem;
    }

    .raitingTitle {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .message {
        margin-bottom: 4rem;
    }

    .messageTitle {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .messageBox {
        width: 100%;
        height: 12rem;
        padding: 1.8rem 2.5rem;
        border: 0.1rem solid rgba(172, 172, 172, 1);
        font-size: 2rem;
        font-weight: 500;
        resize: none;

        &::placeholder {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

@media (max-width: 48em) {
	.btnColor, .btnDark {
		height: 7rem;
		font-size: 2.2rem;
		padding: 0 7rem;
	}
	.done {
		span {
			font-size: 3rem;
		}
	}
	.loginBlock {
		margin-bottom: 4rem;
	}
	.aboutRate {
		font-size: 2rem;
	}
	.videoTitle {
		font-size: 2.4rem;
	}
	.bottomBlock {
		margin-bottom: 6rem;
	}
	.logoBank {
		height: 3rem;
		width: 15rem;
	}
	.chat {
		margin-bottom: 10rem;
	}
	.results {
		.messageBox {
			font-size: 2.2rem;
			&::placeholder {
				font-size: 2.2rem;
			}
		}
		.download {
			font-size: 2.4rem;
			img {
				width: 3.2rem;
				height: 3.8rem;
			}
		}
		.subtitle {
			font-size: 2.5rem;
			font-weight: 500;
		}
		.raitingTitle, .messageTitle {
			font-size: 2.2rem;
		}
		.quizeBlock {
			margin-bottom: 6rem;
		}
	}
	.userText {
		.title {
			font-size: 2rem;
		}
		textarea {
			font-size: 2.2rem;
			&::placeholder {
				font-size: 2.2rem;
			}
		}
	}
	.aboutquizeTitle {
		font-size: 3rem;
		margin-bottom: 0.5rem;
		&::before {
			height: 0.3rem;
			top: 60%;
		}
	}
	.selectTitle {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}
	.nextItem {
		font-size: 3rem;
		&::before {
			width: 1.2rem;
			height: 1.2rem;
			top: 60%;
		}
	}
	.selectSubtitle {
		font-size: 1.8rem;
	}
	.aboutquizeSubtitle {
		font-size: 2rem;
	}
	.inner {
		display: block;
		padding-top: 4rem;
	}
	.login {
		.socialName {
			font-size: 2.2rem;
		}
		.titleItem {
			font-weight: 500;
			font-size: 2.5rem;
		}
		.subtitleItem {
			font-size: 2.2rem;
		}
	}
	.waiting {
		margin-bottom: 10rem;
		.inner {
			display: block;
		}
	}
	.quizeBlock {
		width: auto;
	}
	.infoBlock {
		width: auto;
	}
	.login {
		margin-bottom: 17rem;

		.loginBlock {
			width: auto;
		}

		.loginSocial {
			margin-bottom: 5rem;
		}

		.infoBlock {
			width: auto;
		}
		.inner {
			display: block;
			justify-content: space-between;
			padding-top: 4rem;
		}
	}
	.title {
		margin-bottom: 4rem;
	}
}
