.accordionSection {
    margin-bottom: 19rem;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.titleBlock {
    width: 47rem;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    color: #1D1D1D;
    margin-bottom: 4.3rem;
}

.subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    color: #1D1D1D;
    margin-bottom: 3.7rem;
}

.accordionBlock {
    width: 84.6rem;
}

@media (max-width: 48em) {
	.inner {
		display: block;
	}
	.subtitle {
		font-size: 2rem;
	}
	.titleBlock {
		width: 57rem;
		margin-bottom: 5rem;
	}
	.accordionBlock {
		width: auto;
	}
}
